################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/ObjednavkovySystem/bin/Debug
/ObjednavkovySystem/.vs/ObjednavkovySystem/v15/Server/sqlite3/storage.ide-shm
*.ide-wal

ObjednavkovySystem/\.vs/ObjednavkovySystem/v15/

*.exe

*.pdb

*.baml

ObjednavkovySystem/obj/Debug/

*.ide
